<section class="scroll-mt-12" id="how">
  <div class="px-8 md:px-12 py-12 max-w-2xl mx-auto">
    <div>
     <h2
        class="text-2xl tracking-tighter  font-light lg:text-4xl text-black"
      >
    How it works
      </h2>
    </div>
    <div>
      <p class="text-sm text-zinc-500 mt-8">
        Once you join, we'll have a quick onboarding which should take 30 minutes or less. In this call we will dive into the details of your brand, identity, and goals. Once we have all the files or brand guidelines we need, we will start developing your store. We will have your store up and running within 14 days. From Figma prototype to Shopify Deployment.
        <br /><br />
        When you're with us, you'll get unlimited support. We want you to succeed.






      </p>
    </div>
  </div>
</section>
