<section class="scroll-mt-4" id="pricing">
  <div class="px-8 md:px-12 py-12 max-w-7xl mx-auto">
    <div
      class="grid grid-cols-1 gap-px md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4"
    >
      <section
        class="col-span-full lg:col-span-1 bg-white flex flex-col justify-between rounded-3xl h-full text-black p-8"
      >
        <div>
          <div>
            <p class="text-2xl tracking-tighter font-medium text-black">
              Tailored design & <span class="md:block">dev packages</span>
            </p>
          </div>
          <p class="text-xs text-zinc-500 lg:mt-8 mt-4">
            Flexible pricing to enhance your online presence at every stage.
          </p>
        </div>
        <div>
          <div class="flex items-center gap-2 text-black">
            <p class="text-xs">1 spot available</p>
            <div class="h-2 w-2 rounded-full bg-black "></div>

            <div class="h-2 w-2 rounded-full border border-black"></div>
          </div>
          <div class="border-t border-zinc-200  flex flex-col pt-4 mt-4">
            <span class="text-xs text-zinc-500 font-normal">
              Secure payments with <span
                class="italic text-black font-medium">Stripe</span
              >
            </span>
            <div class="inline-flex items-center gap-2 mt-4 text-black">
            
              <svg
                class="h-7"
                viewBox="0 0 80 48"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M79.3058 25.8169C79.3058 20.1774 76.5741 15.7274 71.3532 15.7274C66.1102 15.7274 62.938 20.1774 62.938 25.7728C62.938 32.4037 66.6829 35.7521 72.0581 35.7521C74.6796 35.7521 76.6622 35.1573 78.1602 34.3202V29.9143C76.6622 30.6633 74.9439 31.126 72.763 31.126C70.6262 31.126 68.7317 30.377 68.4893 27.7775H79.2617C79.2617 27.4911 79.3058 26.3456 79.3058 25.8169ZM68.4233 23.7241C68.4233 21.2348 69.9433 20.1994 71.3311 20.1994C72.6749 20.1994 74.1068 21.2348 74.1068 23.7241H68.4233Z"
                  fill="currentColor"></path>
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M54.4345 15.7274C52.2756 15.7274 50.8877 16.7408 50.1167 17.4457L49.8303 16.0799H44.9839V41.7661L50.4912 40.5986L50.5132 34.3643C51.3063 34.937 52.4739 35.7521 54.4124 35.7521C58.3557 35.7521 61.9465 32.5799 61.9465 25.5966C61.9244 19.2081 58.2896 15.7274 54.4345 15.7274ZM53.1127 30.9056C51.813 30.9056 51.0419 30.443 50.5132 29.8703L50.4912 21.6974C51.064 21.0585 51.857 20.6179 53.1127 20.6179C55.1174 20.6179 56.5052 22.8649 56.5052 25.7508C56.5052 28.7027 55.1394 30.9056 53.1127 30.9056Z"
                  fill="currentColor"></path>
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M37.4057 14.4277L42.935 13.2381V8.76611L37.4057 9.93367V14.4277Z"
                  fill="currentColor"></path>
                <path
                  d="M42.935 16.1019H37.4057V35.3776H42.935V16.1019Z"
                  fill="currentColor"></path>
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M31.4795 17.7321L31.1271 16.1019H26.3687V35.3776H31.8761V22.3142C33.1758 20.6179 35.3787 20.9263 36.0616 21.1686V16.1019C35.3567 15.8375 32.7793 15.3529 31.4795 17.7321Z"
                  fill="currentColor"></path>
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M20.465 11.3215L15.0899 12.467L15.0679 30.1125C15.0679 33.3729 17.5131 35.7741 20.7735 35.7741C22.5799 35.7741 23.9016 35.4436 24.6286 35.0471V30.5751C23.9237 30.8615 20.443 31.8749 20.443 28.6145V20.7941H24.6286V16.1019H20.443L20.465 11.3215Z"
                  fill="currentColor"></path>
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M5.57342 21.6974C5.57342 20.8383 6.27836 20.5078 7.44592 20.5078C9.12015 20.5078 11.235 21.0145 12.9092 21.9177V16.7408C11.0808 16.0138 9.27435 15.7274 7.44592 15.7274C2.97396 15.7274 0 18.0626 0 21.9618C0 28.0418 8.37115 27.0726 8.37115 29.694C8.37115 30.7074 7.48998 31.0378 6.25633 31.0378C4.4279 31.0378 2.09279 30.2888 0.242322 29.2755V34.5185C2.29105 35.3996 4.36181 35.7742 6.25633 35.7742C10.8384 35.7742 13.9886 33.5051 13.9886 29.5619C13.9666 22.9971 5.57342 24.1647 5.57342 21.6974Z"
                  fill="currentColor"></path>
              </svg>
            </div>
          </div>
        </div>
      </section>
      <section
        class="bg-white flex flex-col justify-between rounded-3xl h-full text-black p-8"
      >
        <div>
          <div class="flex flex-col gap-2">
            <div class="flex flex-col gap-2">
              <div class="flex justify-between items-center">
                <p class="text-lg text-black">Design + Dev</p>
                <div class="flex gap-1">
                  
                </div>
              </div>
              <p class="text-xl font-medium text-black mt-2">
                $3799<span class="text-sm text-zinc-500 ml-2">only</span>
                <span class="text-black block text-xs">Flexible payment plans: 6 to 12 months</span>
              </p>
            </div>
            <p class="text-sm text-zinc-500 mt-4">
              Best for brands that want a fully optimized, high-converting Shopify store.
            </p>
          </div>
          <div class="mt-6">
            <p class="text-sm uppercase text-black">WHAT YOU GET</p>
            <ul
              class="flex flex-col mt-4 text-sm text-black gap-y-2"
              role="list"
            >
              <li class="flex items-start gap-2">
                ⏤<span> Custom Shopify Store</span>
              </li>
              <li class="flex items-start gap-2">
                ⏤<span>Professional Figma Prototyping</span>
              </li><li class="flex flex-row items-center gap-2">
                ⏤<span>SEO Optimization</span>
              </li>
              <li class="flex items-start gap-2">
                ⏤<span>Competitor Research &amp Market Analysis</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="mt-8">
          <a
            class="rounded-full px-4 border py-2 text-sm font-semibold transition-all flex items-center justify-between bg-white text-zinc-500 h-10 border-zinc-300 focus:ring-2 shadow-zinc-500/5 focus:ring-blue-950 focus:ring-offset-2 ring-offset-zinc-200 hover:bg-black hover:text-white duration-300"
            href="https://calendly.com/reignitemedia/free-website-consultation" target="_blank"
            >Get started <span>&rarr;</span></a
          >
        </div>
      </section>
      <section
        class="bg-white flex flex-col justify-between rounded-3xl h-full text-black p-8"
      >
        <div>
          <div class="flex flex-col gap-2">
            <div class="flex flex-col gap-2">
              <div class="flex justify-between items-center">
                <p class="text-lg text-black">Design Only</p>
                <div class="flex gap-1">
                  
                </div>
              </div>
              <p class="text-xl font-medium text-black mt-2">
                $2799<span class="text-sm text-zinc-500 ml-2">only</span>
                <span class="text-black block text-xs">Flexible payment plans: 6 to 12 months</span>
              </p>
            </div>
            <p class="text-sm text-zinc-500 mt-4">
              Best for businesses that already have a developer but need a high-quality, conversion-focused design.
            </p>
          </div>
          <div class="mt-6">
            <p class="text-sm uppercase text-black">What you get:</p>
            <ul
              class="flex flex-col mt-4 text-sm text-black gap-y-2"
              role="list"
            >
              <li class="flex items-start gap-2">
                ⏤
                <span>Professional Figma Prototype</span>
              </li>
              <li class="flex items-start gap-2">
                ⏤<span>All screens included: Desktop & mobile layouts</span>
              </li><li class="flex flex-row items-center gap-2">
                ⏤<span>5 Key Pages: Landing page, product page + 3 custom pages of your choice</span>
              </li><li class="flex flex-row items-center gap-2">
                ⏤<span>Quick turnaround time of 3 to 4 days</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="mt-8">
          <a
            class="rounded-full px-4 border py-2 text-sm font-semibold transition-all flex items-center justify-between bg-white text-zinc-500 h-10 border-zinc-300 focus:ring-2 shadow-zinc-500/5 focus:ring-blue-950 focus:ring-offset-2 ring-offset-zinc-200 hover:bg-black hover:text-white duration-300"
            href="https://calendly.com/reignitemedia/free-website-consultation" target="_blank"
            >Get started <span>&rarr;</span></a
          >
        </div>
      </section>
      <section
        class="bg-white flex flex-col justify-between rounded-3xl h-full text-black p-8"
      >
        <div>
          <div class="flex flex-col gap-2">
            <div class="flex flex-col gap-2">
              <div class="flex justify-between items-center">
                <p class="text-lg text-black">One off</p>
                <div>
                  <div class="flex gap-3">
                    
                  </div>
                </div>
              </div>
              <p class="text-xl font-medium text-black mt-2">
                $1799<span class="text-sm text-zinc-500 ml-2">only</span>
                <span class="text-black block text-xs">Flexible payment plans: 6 to 12 months</span>
              </p>
            </div>
            <p class="text-sm text-zinc-500 mt-4">
              Best for businesses selling a single product or testing a new product launch.
            </p>
          </div>
          <div class="mt-6">
            <p class="text-sm uppercase text-black">What you get:</p>
            <ul
              class="flex flex-col mt-4 text-sm text-black gap-y-2"
              role="list"
            >
              <li class="flex items-start gap-2">
                ⏤<span> Custom design & development for a single landing page</span>
              </li>
              <li class="flex items-start gap-2">
                ⏤<span> Optimized for conversions: Maximize sales for one-product stores</span>
              </li>
              <li class="flex items-start gap-2">
                ⏤<span> Shopify or any hosting of your choice: Seamless deployment</span>
              </li>
              <li class="flex items-start gap-2">
                ⏤<span> Quick turnaround time of 2 to 3 days</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="mt-8">
          <a
            class="rounded-full px-4 border py-2 text-sm font-semibold transition-all flex items-center justify-between bg-white text-zinc-500 h-10 border-zinc-300 focus:ring-2 shadow-zinc-500/5 focus:ring-blue-950 focus:ring-offset-2 ring-offset-zinc-200 hover:bg-black hover:text-white duration-300"
            href="https://calendly.com/reignitemedia/free-website-consultation"
            target="_blank"
            >Get started <span>&rarr;</span></a
          >
        </div>
      </section>
      <section
        class="h-full p-8 flex flex-col col-span-full md:col-span-1 xl:col-span-2 justify-between order-last md:order-none bg-white rounded-3xl"
      >
        <p class="text-lg text-black lg:text-xl">Good to know</p>
        <div class="mt-4">
          <p class="text-xs text-zinc-500 font-normal">
            Reignite media specializes in design and development, excluding
            <span class="text-black italic font-medium"> design system</span>,
            <span class="text-black italic font-medium"> 3D</span>,
            <span class="text-black italic font-medium"> prototypes</span>,
            <span class="text-black italic font-medium"> mobile apps</span>,
            <span class="text-black italic font-medium"> illustrations</span>,
            <span class="text-black italic font-medium"> hosting</span>,
            <span class="text-black italic font-medium"> marketing</span>,
            <span class="text-black italic font-medium"> copywriting</span>, &
            <span class="text-black italic font-medium">
              complex creations</span
            >.
          </p>
          <div class="border-t border-zinc-200  flex flex-col pt-4 mt-4">
            <p class="text-xs text-zinc-400">
              We have serviced clients around the world including Australia, United Kingdom, and United States of America.
            </p>
          </div>
        </div>
      </section>
      <section
        class="h-full rounded-3xl justify-between col-span-full lg:col-span-1 xl:col-span-2 bg-white p-8"
      >
        <div class="flex flex-col justify-between h-full">
          <div>
            <div
              class="flex flex-col lg:flex-row lg:items-center lg:justify-between"
            >
              <p class="text-lg text-black lg:text-xl">Book an intro call</p>
            </div>
            <p class="text-xs text-zinc-500 mt-4">
              If not sure, you can book an intro call to learn how we can best help you based on your needs.
            </p>
          </div>
          <div class="flex flex-col mt-4">
            <a
              href="https://calendly.com/reignitemedia/free-website-consultation"
              target="_blank"
              class="rounded-full px-4 border py-2 text-sm font-semibold transition-all flex items-center justify-between bg-white text-zinc-500 h-10 border-zinc-300 focus:ring-2 shadow-zinc-500/5 focus:ring-blue-950 focus:ring-offset-2 ring-offset-zinc-200 hover:bg-black hover:text-white duration-300"
            >
              Book a call
              <span>&rarr;</span>
            </a>
          </div>
          <div class="border-t border-zinc-200  flex flex-col pt-4 mt-4">
            <p class="text-xs text-zinc-400">( USA/Central ) Time</p>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>
